<div id="footer" class="container">
	<div class="logo">
		<div class="foot_img">
			<a href="http://www.ox.ac.uk">
				<%= image_tag("oxlogo.png", :alt=>"University of Oxford Logo") %>
			</a>
		</div>
	</div>

	<div class="coloured_panel">
    <div class="disclaimer">
      <span id="copytext">Site Copyright &#169; 2008 Oxford University Research Archive. All rights reserved.</span>
		  <span class="rt">Site not yet optimized for viewing in mobile devices.</span>
    </div>
		<ul class="footer_list list-inline">
      <li><a href="#">Disclaimer and Data Protection statement</a></li>
      <li><a href="#">Cookies</a></li>
      <li><a href="#">Accessibility statement</a></li>
      <li><a href="http://www.bodleian.ox.ac.uk/ora/deposit-in-ora/copyright_and_other_legal_issues">Copyright</a></li>
      <li><a href="http://www.bodleian.ox.ac.uk/ora/about/ora-policies/take-down-policy">Take-down procedure and complaints</a></li>
      <li><a href="mailto:ora@bodleian.ox.ac.uk">Contact</a></li>
		</ul>	
	</div>
</div>
