<div id="headerback"></div>
<div id="header">
  <a id="skip" href="#main">Skip to Content</a>
  <div id="logo">
    <a href="/">
            <%= image_tag("oramainlogo.png", :alt=>"Oxford University Research Archive Logo") %>
    </a>
  </div>
  <ul id="headernav">
    <li><a href="#">Search</a></li>
    <li><a href="${request.route_url('contribute')}">Contribute</a></li>
    <li><a href="#">Browse</a></li>
    <li><a href="#">Catalog</a></li>
    <li class="last"><a href="http://www.bodleian.ox.ac.uk/ora">Help</a></li>
  </ul>
  <div id="bodlogo">
    <a href="http://www.bodleian.ox.ac.uk">
       <%= image_tag("bodtrans.png", :alt=>"Bodleian Library Logo") %>
    </a>
  </div>
</div>
