<div class="main_panel">
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <h2>Top downloads</h2>
      <ul>
        <li>
          Hitchcock, Timothy V., (1985). The English workhouse. DPhil. 
          University of Oxford.
        </li>
        <li>
          Thomas Ouldridge, (2011). Coarse-grained modelling of DNA and DNA 
          self-assembly. DPhil. University of Oxford.
        </li>
        <li>
          Adam J Lewandowski, (2013). The impact of preterm birth on the 
          cardiovascular system in young adulthood. DPhil. University of Oxford.
        </li>
        <li>
          Rowan Douglas Williams, (1975). The theology of Vladimir Nikolaievich 
          Lossky: an exposition and critique. DPhil. University of Oxford.
        </li>
        <li>
          Tyler Bell, (2001). The religious reuse of Roman structures in 
          Anglo-Saxon England. DPhil. University of Oxford.
        </li>
      </ul>
    </div>


    <div class="col-md-6 col-sm-6">
      <h2>Latest Additions</h2>
      <ul>
        <li>
          David Paul Mulholland, (2012). Martian dust lifting, transport and 
          associated processes. DPhil. University of Oxford.
        </li>
        <li>
          Robert Latusek, (2012). The role of LATS1 in DNA damage signalling. 
          DPhil. University of Oxford.
        </li>
        <li>
          Benjamin C Rowland, (2012). Coherent control of spin systems for 
          quantum information processing. DPhil. University of Oxford.
        </li>
        <li>
          Rachel Elizabeth Wood, (2011). The contribution of new radiocarbon 
          dating pre-treatment techniques to understanding the Middle to Upper 
          Palaeolithic transition in Iberia. DPhil. University of Oxford.
        </li>
        <li>
          Michael John Pitcher, (2011). The structures and properties of layered 
          pnictides and oxychalcogenides. DPhil. University of Oxford.
        </li>
      </ul>      
    </div>
  </div>
</div>
